/* styles.css */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background-color: #F8F8F8;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #000;
    color: #FFF;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2em;
}

#auth-status {
    margin-top: 10px;
    font-size: 1em;
}

main {
    max-width: 1400px;
    margin: 0 auto;
    padding: 20px;
}

#filter-options {
    margin-bottom: 20px;
    text-align: center;
}

#elenco-select {
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #FFF;
    color: #000;
}

#elenco-select option {
    color: #000;
}

#athlete-list {
    display: grid;
    gap: 10px;
}

/* Estilos para a página de login */
#login-form {
    max-width: 300px;
    margin: 100px auto;
    padding: 20px;
    background-color: #FFF;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}

#login-form label {
    display: block;
    margin-bottom: 10px;
    color: #333;
}

#login-form input {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

#login-form button {
    width: 100%;
    padding: 10px;
    color: #FFF;
    background-color: #000;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#login-form button:hover {
    background-color: #444;
}

/* Estilos para a página de detalhes */
#athlete-details {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #FFF;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}

/* Responsividade */
@media (max-width: 768px) {
    /* Página de Login em orientação vertical */
    #login-form {
        margin: 50px auto;
    }
    /* Página de Detalhes em orientação vertical */
    #athlete-details {
        width: 100%;
        margin: 10px;
    }
    /* Container de atletas da Página Principal */
    #athlete-list {
        grid-template-columns: repeat(1, 1fr);
    }
    /* Seleção de elenco da Página Principal */
    #filter-options select {
        display: block;
        width: 100%;
        max-width: 300px;
        margin: 10px auto;
    }
}

@media (min-width: 768px) {
    /* Seleção de elenco da Página Principal */
    #filter-options select {
        display: none;
    }
    #filter-options {
        display: inline-block;
    }
    #filter-options button {
        padding: 10px 20px;
        font-size: 1em;
        margin: 5px;
        background-color: #000;
        color: #FFF;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        transition: background-color 0.3s;
    }
    #filter-options button:hover {
        background-color: #444;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    /* Container de atletas da Página Principal */
    #athlete-list {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 1024px) and (max-width: 1300px) {
    /* Container de atletas da Página Principal */
    #athlete-list {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (min-width: 1300px) {
    /* Container de atletas da Página Principal */
    #athlete-list {
        grid-template-columns: repeat(5, 1fr);
    }
    main {
        max-width: 1400px;
    }
}
